.BitFede {
  padding: 0 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  background: #333;
  min-height: 100vh;
  max-width: 100vw;
}

.BitFede > * {
  display: block;
  max-width: 540px;
  margin: 0 auto 10px;
  color: greenyellow;
}

.BitFede h1 {
  padding-top: 20px;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}